In [38]:
import pandas as pd

In [39]:
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

In [40]:
#df = pd.read_csv(r'parsed_routes_data\all_routes_data.csv') #real dataset
df = pd.read_csv(r'parsed_routes_data\first_bulk_of_routes_data.csv') # small sample dataset for testing
df.rename(columns={'Unnamed: 0': 'route_id', 'Unnamed: 1': 'num_of_waypoint'}, inplace=True)
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
0,100324.gpx,0,"('50.71662', '12.79072')",50.71662,12.79072
1,100324.gpx,1,"('50.71665', '12.79075')",50.71665,12.79075
2,100324.gpx,2,"('50.71654', '12.79175')",50.71654,12.79175
3,100324.gpx,3,"('50.71649', '12.7922')",50.71649,12.79220
4,100324.gpx,4,"('50.71629', '12.79315')",50.71629,12.79315
...,...,...,...,...,...
907386,99777.gpx,352,"('50.61889', '12.36287')",50.61889,12.36287
907387,99777.gpx,353,"('50.6179', '12.3625')",50.61790,12.36250
907388,99777.gpx,354,"('50.61731', '12.36193')",50.61731,12.36193
907389,99777.gpx,355,"('50.61725', '12.36169')",50.61725,12.36169
907390,99777.gpx,356,"('50.61725', '12.36147')",50.61725,12.36147

In [41]:
#reshaping df from long format to wide format
df = df.pivot(index='route_id', columns='num_of_waypoint', values='lat_lgt')
df

num_of_waypoint,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,29802,29803,29804,29805,29806,29807,29808,29809,29810,29811,29812,29813,29814,29815,29816,29817,29818,29819,29820,29821,29822,29823,29824,29825,29826,29827,29828,29829,29830,29831,29832,29833,29834,29835,29836,29837,29838,29839,29840,29841,29842,29843,29844,29845,29846,29847,29848,29849,29850,29851
route_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100324.gpx,"('50.71662', '12.79072')","('50.71665', '12.79075')","('50.71654', '12.79175')","('50.71649', '12.7922')","('50.71629', '12.79315')","('50.71611', '12.79409')","('50.71595', '12.79478')","('50.71598', '12.79487')","('50.71624', '12.79518')","('50.71645', '12.79554')","('50.71655', '12.79572')","('50.71679', '12.79603')","('50.71693', '12.79627')","('50.71708', '12.79659')","('50.71715', '12.79671')","('50.71732', '12.79684')","('50.71703', '12.79761')","('50.71701', '12.79781')","('50.71669', '12.79948')","('50.71665', '12.80062')","('50.71651', '12.80165')","('50.71626', '12.8029')","('50.71619', '12.80358')","('50.71595', '12.8045')","('50.71579', '12.8054')","('50.71561', '12.80647')","('50.71541', '12.80709')","('50.71534', '12.80759')","('50.71543', '12.80838')","('50.71568', '12.80889')","('50.71613', '12.80932')","('50.71667', '12.80996')","('50.71702', '12.81155')","('50.71723', '12.81273')","('50.71753', '12.81372')","('50.71754', '12.81418')","('50.71769', '12.81474')","('50.71772', '12.81542')","('50.71775', '12.81553')","('50.71776', '12.81554')","('50.7179', '12.81599')","('50.71793', '12.8164')","('50.71795', '12.81668')","('50.71797', '12.81684')","('50.718', '12.81692')","('50.71815', '12.81712')","('50.71823', '12.81729')","('50.71824', '12.81752')","('50.71824', '12.81786')","('50.71832', '12.81808')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100327.gpx,"('50.71304', '12.6424')","('50.71299', '12.64254')","('50.71279', '12.64279')","('50.71288', '12.6428')","('50.71298', '12.64271')","('50.71315', '12.64243')","('50.71333', '12.64209')","('50.71358', '12.64166')","('50.71384', '12.64147')","('50.71406', '12.64135')","('50.71436', '12.64126')","('50.71438', '12.64126')","('50.71461', '12.64117')","('50.71475', '12.64134')","('50.7146', '12.64174')","('50.71449', '12.64193')","('50.71449', '12.64194')","('50.71438', '12.64231')","('50.7142', '12.64292')","('50.71414', '12.64328')","('50.71418', '12.64367')","('50.71429', '12.64422')","('50.71437', '12.64472')","('50.71439', '12.64514')","('50.71441', '12.6453')","('50.71444', '12.64546')","('50.71458', '12.64559')","('50.71475', '12.6461')","('50.71492', '12.64635')","('50.7152', '12.64676')","('50.71554', '12.64731')","('50.7156', '12.64725')","('50.71566', '12.64707')","('50.71579', '12.64649')","('50.71581', '12.64625')","('50.71697', '12.64639')","('50.71654', '12.64438')","('50.71657', '12.64437')","('50.71712', '12.64417')","('50.71768', '12.64415')","('50.71814', '12.64399')","('50.71859', '12.64358')","('50.71895', '12.64349')","('50.71931', '12.64305')","('50.71971', '12.6429')","('50.71974', '12.6429')","('50.72021', '12.64287')","('50.72064', '12.64301')","('50.72035', '12.64333')","('50.72016', '12.64399')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100328.gpx,"('50.71109', '12.65138')","('50.7111', '12.65123')","('50.71121', '12.65107')","('50.71156', '12.65077')","('50.71162', '12.65069')","('50.71173', '12.65065')","('50.71176', '12.65061')","('50.71191', '12.65055')","('50.7121', '12.65075')","('50.71252', '12.65088')","('50.7144', '12.65107')","('50.7163', '12.65129')","('50.71763', '12.65146')","('50.71773', '12.65138')","('50.71778', '12.65118')","('50.7178', '12.65089')","('50.71703', '12.647')","('50.717', '12.64665')","('50.71697', '12.64638')","('50.71579', '12.64625')","('50.71579', '12.64653')","('50.71566', '12.64707')","('50.71556', '12.64734')","('50.7152', '12.64675')","('50.71491', '12.64634')","('50.71476', '12.64611')","('50.71456', '12.64556')","('50.71444', '12.64545')","('50.71439', '12.64526')","('50.71439', '12.64506')","('50.715', '12.64475')","('50.71559', '12.64456')","('50.71575', '12.64454')","('50.71592', '12.64452')","('50.7163', '12.64449')","('50.71657', '12.64437')","('50.71712', '12.64417')","('50.71768', '12.64415')","('50.71814', '12.64399')","('50.71859', '12.64358')","('50.71895', '12.64349')","('50.71931', '12.64305')","('50.71971', '12.6429')","('50.71974', '12.6429')","('50.72021', '12.64287')","('50.72064', '12.64301')","('50.72035', '12.64333')","('50.72016', '12.64399')","('50.7199', '12.64448')","('50.71965', '12.64489')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100420.gpx,"('50.63977', '12.39523')","('50.63995', '12.39444')","('50.64001', '12.39322')","('50.63936', '12.38929')","('50.63941', '12.38857')","('50.63887', '12.38538')","('50.63819', '12.38242')","('50.63821', '12.38242')","('50.63774', '12.38069')","('50.63742', '12.37854')","('50.63672', '12.37374')","('50.63598', '12.37032')","('50.636', '12.37032')","('50.63553', '12.36869')","('50.63457', '12.36606')","('50.63403', '12.36297')","('50.63355', '12.36043')","('50.63356', '12.36043')","('50.63349', '12.3599')","('50.63351', '12.3599')","('50.63303', '12.35703')","('50.63303', '12.35635')","('50.63312', '12.35507')","('50.6333', '12.35409')","('50.63352', '12.35257')","('50.63342', '12.35159')","('50.63317', '12.35043')","('50.63299', '12.34981')","('50.63328', '12.34812')","('50.63337', '12.34751')","('50.63349', '12.34716')","('50.63396', '12.34681')","('50.63434', '12.34628')","('50.63431', '12.34607')","('50.63363', '12.34553')","('50.63258', '12.3448')","('50.63126', '12.34382')","('50.63069', '12.34333')","('50.63082', '12.34276')","('50.62975', '12.34178')","('50.62947', '12.34115')","('50.62853', '12.3395')","('50.62828', '12.33917')","('50.62701', '12.33764')","('50.62642', '12.33663')","('50.62405', '12.3327')","('50.62371', '12.33207')","('50.62353', '12.33102')","('50.62355', '12.33102')","('50.62349', '12.32966')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100423.gpx,"('50.61725', '12.36141')","('50.61723', '12.36069')","('50.61725', '12.36029')","('50.61719', '12.35995')","('50.61705', '12.35909')","('50.61705', '12.35897')","('50.61701', '12.35885')","('50.61711', '12.35839')","('50.61714', '12.3582')","('50.61707', '12.35778')","('50.617', '12.35762')","('50.61695', '12.35725')","('50.61685', '12.35693')","('50.61641', '12.35635')","('50.61591', '12.35554')","('50.6156', '12.35503')","('50.61547', '12.35475')","('50.61538', '12.35446')","('50.61533', '12.35424')","('50.61526', '12.35402')","('50.61523', '12.35388')","('50.61516', '12.35371')","('50.61494', '12.35311')","('50.61469', '12.35277')","('50.61457', '12.35266')","('50.61452', '12.3524')","('50.61459', '12.35201')","('50.61467', '12.35163')","('50.61483', '12.35134')","('50.61492', '12.35111')","('50.61499', '12.35076')","('50.61503', '12.35046')","('50.61504', '12.35015')","('50.61496', '12.34992')","('50.61501', '12.34962')","('50.61507', '12.34946')","('50.61513', '12.34936')","('50.61523', '12.34906')","('50.61528', '12.34886')","('50.61527', '12.34885')","('50.61519', '12.3485')","('50.61516', '12.34845')","('50.61516', '12.34814')","('50.61511', '12.34773')","('50.61504', '12.34744')","('50.61482', '12.34749')","('50.61442', '12.34773')","('50.61419', '12.34783')","('50.61419', '12.34784')","('50.61395', '12.34786')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99709.gpx,"('50.61758', '12.36202')","('50.61763', '12.36223')","('50.61789', '12.3625')","('50.61801', '12.36257')","('50.61857', '12.36275')","('50.61907', '12.36299')","('50.6193', '12.36264')","('50.61968', '12.36224')","('50.62036', '12.36189')","('50.62105', '12.36165')","('50.62241', '12.36161')","('50.62464', '12.36176')","('50.62542', '12.36207')","('50.62718', '12.36334')","('50.62754', '12.36365')","('50.62822', '12.364')","('50.62894', '12.36391')","('50.62939', '12.36376')","('50.63225', '12.36338')","('50.63333', '12.36325')","('50.63405', '12.36299')","('50.63351', '12.3599')","('50.63303', '12.35703')","('50.63303', '12.35635')","('50.63312', '12.35507')","('50.6333', '12.35409')","('50.63352', '12.35257')","('50.63342', '12.35159')","('50.63317', '12.35043')","('50.63299', '12.34981')","('50.63328', '12.34812')","('50.63337', '12.34751')","('50.63349', '12.34716')","('50.63396', '12.34681')","('50.63434', '12.34628')","('50.63431', '12.34607')","('50.63363', '12.34553')","('50.63258', '12.3448')","('50.63126', '12.34382')","('50.63069', '12.34333')","('50.63082', '12.34276')","('50.62975', '12.34178')","('50.62947', '12.34115')","('50.62853', '12.3395')","('50.62828', '12.33917')","('50.62701', '12.33764')","('50.62642', '12.33663')","('50.62405', '12.3327')","('50.62371', '12.33207')","('50.62353', '12.33102')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99712.gpx,"('50.61725', '12.36141')","('50.61723', '12.36069')","('50.61725', '12.36029')","('50.61719', '12.35995')","('50.61705', '12.35909')","('50.61705', '12.35897')","('50.61701', '12.35885')","('50.61711', '12.35839')","('50.61714', '12.3582')","('50.61707', '12.35778')","('50.617', '12.35762')","('50.61695', '12.35725')","('50.61685', '12.35693')","('50.61641', '12.35635')","('50.61591', '12.35554')","('50.6156', '12.35503')","('50.61547', '12.35475')","('50.61538', '12.35446')","('50.61533', '12.35424')","('50.61526', '12.35402')","('50.61523', '12.35388')","('50.61516', '12.35371')","('50.61494', '12.35311')","('50.61469', '12.35277')","('50.61457', '12.35266')","('50.61452', '12.3524')","('50.61459', '12.35201')","('50.61467', '12.35163')","('50.61483', '12.35134')","('50.61492', '12.35111')","('50.61499', '12.35076')","('50.61503', '12.35046')","('50.61504', '12.35015')","('50.61496', '12.34992')","('50.61501', '12.34962')","('50.61507', '12.34946')","('50.61513', '12.34936')","('50.61523', '12.34906')","('50.61528', '12.34886')","('50.61527', '12.34885')","('50.61519', '12.3485')","('50.61516', '12.34845')","('50.61516', '12.34814')","('50.61511', '12.34773')","('50.61504', '12.34744')","('50.61482', '12.34749')","('50.61442', '12.34773')","('50.61419', '12.34783')","('50.61419', '12.34784')","('50.61395', '12.34786')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99713.gpx,"('50.63977', '12.39523')","('50.63995', '12.39444')","('50.64001', '12.39322')","('50.63936', '12.38929')","('50.63941', '12.38857')","('50.63887', '12.38538')","('50.63819', '12.38242')","('50.63821', '12.38242')","('50.63774', '12.38069')","('50.63742', '12.37854')","('50.63672', '12.37374')","('50.63598', '12.37032')","('50.636', '12.37032')","('50.63553', '12.36869')","('50.63457', '12.36606')","('50.63403', '12.36297')","('50.63355', '12.36043')","('50.63356', '12.36043')","('50.63349', '12.3599')","('50.63351', '12.3599')","('50.63303', '12.35703')","('50.63303', '12.35635')","('50.63312', '12.35507')","('50.6333', '12.35409')","('50.63352', '12.35257')","('50.63342', '12.35159')","('50.63317', '12.35043')","('50.63299', '12.34981')","('50.63328', '12.34812')","('50.63337', '12.34751')","('50.63349', '12.34716')","('50.63396', '12.34681')","('50.63434', '12.34628')","('50.63438', '12.34612')","('50.63237', '12.34466')","('50.63044', '12.34312')","('50.62943', '12.34219')","('50.62822', '12.34086')","('50.62729', '12.33947')","('50.62651', '12.33819')","('50.62625', '12.33831')","('50.62606', '12.33817')","('50.62581', '12.33816')","('50.62498', '12.33871')","('50.62429', '12.33925')","('50.62372', '12.33998')","('50.6233', '12.34021')","('50.62292', '12.34047')","('50.62224', '12.3405')","('50.62168', '12.34044')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99716.gpx,"('50.61725', '12.36141')","('50.61723', '12.36069')","('50.61725', '12.36029')","('50.61719', '12.35995')","('50.61705', '12.35909')","('50.61705', '12.35897')","('50.61701', '12.35885')","('50.61711', '12.35839')","('50.61714', '12.3582')","('50.61707', '12.35778')","('50.617', '12.35762')","('50.61695', '12.35725')","('50.61685', '12.35693')","('50.61641', '12.35635')","('50.61591', '12.35554')","('50.6156', '12.35503')","('50.61547', '12.35475')","('50.61538', '12.35446')","('50.61533', '12.35424')","('50.61526', '12.35402')","('50.61523', '12.35388')","('50.61516', '12.35371')","('50.61494', '12.35311')","('50.61469', '12.35277')","('50.61457', '12.35266')","('50.61452', '12.3524')","('50.61459', '12.35201')","('50.61467', '12.35163')","('50.61483', '12.35134')","('50.61492', '12.35111')","('50.61499', '12.35076')","('50.61503', '12.35046')","('50.61504', '12.35015')","('50.61496', '12.34992')","('50.61501', '12.34962')","('50.61507', '12.34946')","('50.61513', '12.34936')","('50.61523', '12.34906')","('50.61528', '12.34886')","('50.61527', '12.34885')","('50.61519', '12.3485')","('50.61516', '12.34845')","('50.61516', '12.34814')","('50.61511', '12.34773')","('50.61504', '12.34744')","('50.61482', '12.34749')","('50.61442', '12.34773')","('50.61419', '12.34783')","('50.61419', '12.34784')","('50.61395', '12.34786')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99777.gpx,"('50.61725', '12.36141')","('50.61723', '12.36069')","('50.61725', '12.36029')","('50.61719', '12.35995')","('50.61705', '12.35909')","('50.61705', '12.35897')","('50.61701', '12.35885')","('50.61711', '12.35839')","('50.61714', '12.3582')","('50.61707', '12.35778')","('50.617', '12.35762')","('50.61695', '12.35725')","('50.61685', '12.35693')","('50.61641', '12.35635')","('50.61591', '12.35554')","('50.6156', '12.35503')","('50.61547', '12.35475')","('50.61538', '12.35446')","('50.61533', '12.35424')","('50.61526', '12.35402')","('50.61523', '12.35388')","('50.61516', '12.35371')","('50.61494', '12.35311')","('50.61469', '12.35277')","('50.61457', '12.35266')","('50.61452', '12.3524')","('50.61459', '12.35201')","('50.61467', '12.35163')","('50.61483', '12.35134')","('50.61492', '12.35111')","('50.61499', '12.35076')","('50.61503', '12.35046')","('50.61504', '12.35015')","('50.61496', '12.34992')","('50.61501', '12.34962')","('50.61507', '12.34946')","('50.61513', '12.34936')","('50.61523', '12.34906')","('50.61528', '12.34886')","('50.61527', '12.34885')","('50.61519', '12.3485')","('50.61516', '12.34845')","('50.61516', '12.34814')","('50.61511', '12.34773')","('50.61504', '12.34744')","('50.61482', '12.34749')","('50.61442', '12.34773')","('50.61419', '12.34783')","('50.61419', '12.34784')","('50.61395', '12.34786')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#exploring the new shape
df.shape

#since the df now has 29852 columns, I want to verify, if the longest route really has 29852 waypoints or if something went wrong

(1830, 29852)