In [2]:
import pandas as pd

In [3]:
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

In [4]:
#df = pd.read_csv(r'parsed_routes_data\all_routes_data.csv') #real dataset
df = pd.read_csv(r'parsed_routes_data\first_bulk_of_routes_data.csv') # small sample dataset for testing
df.rename(columns={'Unnamed: 0': 'route_id', 'Unnamed: 1': 'num_of_waypoint'}, inplace=True)
df

,route_id,num_of_waypoint,lat_lgt,latitude,longitude
0,100324.gpx,0,"('50.71662', '12.79072')",50.71662,12.79072
1,100324.gpx,1,"('50.71665', '12.79075')",50.71665,12.79075
2,100324.gpx,2,"('50.71654', '12.79175')",50.71654,12.79175
3,100324.gpx,3,"('50.71649', '12.7922')",50.71649,12.79220
4,100324.gpx,4,"('50.71629', '12.79315')",50.71629,12.79315
...,...,...,...,...,...
907386,99777.gpx,352,"('50.61889', '12.36287')",50.61889,12.36287
907387,99777.gpx,353,"('50.6179', '12.3625')",50.61790,12.36250
907388,99777.gpx,354,"('50.61731', '12.36193')",50.61731,12.36193
907389,99777.gpx,355,"('50.61725', '12.36169')",50.61725,12.36169
907390,99777.gpx,356,"('50.61725', '12.36147')",50.61725,12.36147

In [5]:
#converting str values from 'routes_id' (that is going to become an index) into ints
df['route_id'] = df['route_id'].str.split('.').str[0].astype(int)

#converting str values from 'num_of_waypoint' (that is going to become column names) into ints
df['num_of_waypoint'] = df['num_of_waypoint'].astype(int)

In [6]:
#reshaping df from long format to wide format
df_reshaped = df.pivot(index='route_id', columns='num_of_waypoint', values='lat_lgt')
df_reshaped

num_of_waypoint,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,...,29802,29803,29804,29805,29806,29807,29808,29809,29810,29811,29812,29813,29814,29815,29816,29817,29818,29819,29820,29821,29822,29823,29824,29825,29826,29827,29828,29829,29830,29831,29832,29833,29834,29835,29836,29837,29838,29839,29840,29841,29842,29843,29844,29845,29846,29847,29848,29849,29850,29851
route_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
23211,"('50.6483', '12.98132')","('50.64765', '12.98288')","('50.64732', '12.98357')","('50.64698', '12.98378')","('50.64634', '12.98392')","('50.64624', '12.98405')","('50.64585', '12.98509')","('50.64579', '12.98619')","('50.64528', '12.98776')","('50.645', '12.98884')","('50.64476', '12.98998')","('50.64468', '12.99079')","('50.64464', '12.99168')","('50.64448', '12.9925')","('50.64427', '12.99338')","('50.64404', '12.99398')","('50.64355', '12.99434')","('50.64287', '12.99469')","('50.64177', '12.99515')","('50.64119', '12.99597')","('50.64062', '12.9973')","('50.6396', '12.99934')","('50.63905', '13.00082')","('50.63857', '13.00309')","('50.63811', '13.0009')","('50.63719', '13.00279')","('50.63689', '13.00382')","('50.63627', '13.00489')","('50.63546', '13.00588')","('50.63436', '13.00595')","('50.63365', '13.00444')","('50.63049', '13.00215')","('50.62965', '13.0015')","('50.62867', '13.00185')","('50.6276', '13.00275')","('50.62652', '13.00395')","('50.62535', '13.00429')","('50.62404', '13.00438')","('50.62328', '13.00434')","('50.62224', '13.00455')","('50.62115', '13.00528')","('50.62031', '13.00524')","('50.61908', '13.00571')","('50.61847', '13.00577')","('50.61626', '13.00847')","('50.6153', '13.0097')","('50.61505', '13.0106')","('50.6149', '13.0115')","('50.61391', '13.01281')","('50.61358', '13.01348')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24218,"('50.75626', '12.18732')","('50.75719', '12.18567')","('50.75736', '12.18572')","('50.7586', '12.18112')","('50.75905', '12.17952')","('50.7602', '12.17874')","('50.76099', '12.17905')","('50.76149', '12.18036')","('50.76199', '12.18158')","('50.76229', '12.18197')","('50.76267', '12.18384')","('50.76241', '12.18158')","('50.76433', '12.18109')","('50.76535', '12.18135')","('50.7667', '12.18124')","('50.76773', '12.18193')","('50.76927', '12.18112')","('50.76989', '12.18154')","('50.77101', '12.18215')","('50.77204', '12.18122')","('50.77299', '12.18204')","('50.77346', '12.18086')","('50.77419', '12.17935')","('50.77506', '12.17843')","('50.77616', '12.17742')","('50.77725', '12.17598')","('50.77821', '12.17528')","('50.77835', '12.17395')","('50.77868', '12.1739')","('50.7786', '12.17289')","('50.77957', '12.17287')","('50.78039', '12.17255')","('50.78056', '12.17326')","('50.78193', '12.17268')","('50.78269', '12.17251')","('50.78315', '12.17518')","('50.78398', '12.1774')","('50.78353', '12.17628')","('50.78311', '12.17425')","('50.78233', '12.16864')","('50.78246', '12.16656')","('50.78195', '12.16457')","('50.7813', '12.16249')","('50.78068', '12.16088')","('50.78005', '12.15978')","('50.77911', '12.15869')","('50.77904', '12.15813')","('50.77863', '12.15753')","('50.77959', '12.15747')","('50.78016', '12.15685')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26298,"('50.58288', '12.7055')","('50.58261', '12.70659')","('50.58238', '12.70661')","('50.5822', '12.70704')","('50.58119', '12.70788')","('50.58059', '12.70828')","('50.58002', '12.70875')","('50.5793', '12.70896')","('50.5785', '12.70887')","('50.57812', '12.70859')","('50.57751', '12.70827')","('50.57677', '12.70838')","('50.57628', '12.70852')","('50.57561', '12.70887')","('50.57507', '12.70911')","('50.57453', '12.70929')","('50.57405', '12.70952')","('50.57367', '12.70986')","('50.57311', '12.71044')","('50.57279', '12.71069')","('50.57205', '12.71045')","('50.57151', '12.71045')","('50.57102', '12.70993')","('50.57036', '12.70924')","('50.56987', '12.71002')","('50.56943', '12.71036')","('50.5689', '12.70912')","('50.5686', '12.70788')","('50.5683', '12.70736')","('50.56801', '12.70692')","('50.56752', '12.70649')","('50.56714', '12.7058')","('50.56654', '12.70537')","('50.56588', '12.70503')","('50.565', '12.70436')","('50.56506', '12.70296')","('50.56495', '12.70167')","('50.56473', '12.70038')","('50.56446', '12.699')","('50.56424', '12.69856')","('50.56359', '12.69877')","('50.56289', '12.6991')","('50.56223', '12.69908')","('50.56159', '12.69858')","('50.56152', '12.69783')","('50.56125', '12.69709')","('50.56179', '12.69481')","('50.56078', '12.69387')","('50.56042', '12.6934')","('50.56005', '12.69335')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28759,"('50.69801', '12.14987')","('50.69804', '12.15007')","('50.69788', '12.15016')","('50.69878', '12.15169')","('50.69988', '12.15341')","('50.70059', '12.15444')","('50.70124', '12.15539')","('50.70223', '12.15617')","('50.70321', '12.15703')","('50.70397', '12.15737')","('50.7043', '12.15815')","('50.70457', '12.15866')","('50.70517', '12.15866')","('50.70615', '12.15875')","('50.70702', '12.15883')","('50.70751', '12.15926')","('50.70806', '12.15995')","('50.70882', '12.16064')","('50.70953', '12.1615')","('50.71078', '12.16236')","('50.71122', '12.16202')","('50.71176', '12.16159')","('50.7122', '12.16107')","('50.71253', '12.16073')","('50.71291', '12.16004')","('50.71334', '12.15858')","('50.71416', '12.15806')","('50.71514', '12.15815')","('50.7159', '12.15875')","('50.71672', '12.15935')","('50.71739', '12.1602')","('50.71721', '12.15952')","('50.71645', '12.15832')","('50.71596', '12.15711')","('50.71563', '12.15651')","('50.71509', '12.15505')","('50.71525', '12.15393')","('50.71579', '12.15204')","('50.71623', '12.15083')","('50.71618', '12.14963')","('50.71585', '12.14833')","('50.71596', '12.14601')","('50.71601', '12.14472')","('50.71547', '12.14352')","('50.71552', '12.14231')","('50.71579', '12.14059')","('50.71596', '12.13895')","('50.71618', '12.13827')","('50.7165', '12.13655')","('50.71694', '12.13586')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54029,"('50.57621', '12.79168')","('50.57605', '12.78962')","('50.57725', '12.78686')","('50.57812', '12.78549')","('50.57741', '12.78359')","('50.57812', '12.78523')","('50.57905', '12.78489')","('50.58151', '12.78265')","('50.5826', '12.78179')","('50.58348', '12.78093')","('50.58468', '12.77964')","('50.58654', '12.7786')","('50.58774', '12.77817')","('50.58861', '12.77878')","('50.58976', '12.77895')","('50.5891', '12.77198')","('50.58894', '12.77043')","('50.5879', '12.76879')","('50.58643', '12.76742')","('50.58533', '12.76664')","('50.58451', '12.76613')","('50.58419', '12.76561')","('50.58402', '12.76423')","('50.58468', '12.76208')","('50.58577', '12.7607')","('50.58768', '12.75959')","('50.58938', '12.75916')","('50.59124', '12.75872')","('50.59216', '12.75726')","('50.59244', '12.75563')","('50.59331', '12.75434')","('50.59424', '12.75305')","('50.595', '12.75184')","('50.59566', '12.75038')","('50.59582', '12.74857')","('50.59637', '12.7484')","('50.59692', '12.74702')","('50.59719', '12.7453')","('50.59741', '12.74341')","('50.59779', '12.74108')","('50.59779', '12.73867')","('50.59763', '12.73575')","('50.59735', '12.73403')","('50.59719', '12.73239')","('50.59888', '12.73325')","('50.60008', '12.7342')","('50.60129', '12.73592')","('50.602', '12.73644')","('50.60249', '12.73807')","('50.60287', '12.73859')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674009,"('52.53883', '13.21284')","('52.53883', '13.21286')","('52.53866', '13.21294')","('52.53848', '13.21112')","('52.53848', '13.21055')","('52.53849', '13.21035')","('52.53863', '13.20906')","('52.53863', '13.20906')","('52.53868', '13.20862')","('52.53875', '13.20866')","('52.53871', '13.20903')","('52.5394', '13.20906')","('52.53974', '13.20889')","('52.53977', '13.20869')","('52.53977', '13.20869')","('52.5398', '13.20861')","('52.54', '13.20752')","('52.54', '13.20729')","('52.53995', '13.20718')","('52.53997', '13.20717')","('52.53997', '13.20717')","('52.54025', '13.20687')","('52.54031', '13.2069')","('52.5404', '13.20698')","('52.54058', '13.20702')","('52.54069', '13.20709')","('52.54077', '13.2072')","('52.54116', '13.20739')","('52.54152', '13.2074')","('52.54152', '13.2074')","('52.54171', '13.20741')","('52.54167', '13.20788')","('52.54196', '13.20784')","('52.54199', '13.20775')","('52.54245', '13.20777')","('52.54249', '13.20779')","('52.54269', '13.20779')","('52.54274', '13.20782')","('52.5429', '13.20803')","('52.54306', '13.20814')","('52.54316', '13.20828')","('52.5433', '13.20853')","('52.5433', '13.20853')","('52.54343', '13.2088')","('52.54351', '13.20894')","('52.54363', '13.20894')","('52.54397', '13.20861')","('52.54419', '13.20923')","('52.54398', '13.21006')","('52.54399', '13.21015')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3674010,"('52.53883', '13.21284')","('52.53883', '13.21286')","('52.53866', '13.21294')","('52.53848', '13.21112')","('52.53848', '13.21055')","('52.53849', '13.21035')","('52.53863', '13.20906')","('52.53863', '13.20906')","('52.53868', '13.20862')","('52.53875', '13.20866')","('52.53871', '13.20903')","('52.5394', '13.20906')","('52.53974', '13.20889')","('52.53977', '13.20869')","('52.53977', '13.20869')","('52.5398', '13.20861')","('52.54', '13.20752')","('52.54', '13.20729')","('52.53995', '13.20718')","('52.53997', '13.20717')","('52.53997', '13.20717')","('52.54025', '13.20687')","('52.54031', '13.2069')","('52.5404', '13.20698')","('52.54058', '13.20702')","('52.54069', '13.20709')","('52.54077', '13.2072')","('52.54116', '13.20739')","('52.54152', '13.2074')","('52.54152', '13.2074')","('52.54171', '13.20741')","('52.54167', '13.20788')","('52.54196', '13.20784')","('52.54199', '13.20775')","('52.54245', '13.20777')","('52.54249', '13.20779')","('52.54269', '13.20779')","('52.54274', '13.20782')","('52.5429', '13.20803')","('52.54306', '13.20814')","('52.54316', '13.20828')","('52.5433', '13.20853')","('52.5433', '13.20853')","('52.54343', '13.2088')","('52.54351', '13.20894')","('52.54363', '13.20894')","('52.54397', '13.20861')","('52.54419', '13.20923')","('52.54398', '13.21006')","('52.54399', '13.21015')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3674128,"('52.4888', '13.26176')","('52.48877', '13.2618')","('52.48874', '13.26175')","('52.48911', '13.26117')","('52.48943', '13.26047')","('52.48929', '13.26027')","('52.48932', '13.25998')","('52.4893', '13.25943')","('52.4893', '13.25942')","('52.4892', '13.25709')","('52.48903', '13.25462')","('52.48907', '13.2527')","('52.48938', '13.25055')","('52.48957', '13.25014')","('52.48957', '13.25015')","('52.49025', '13.24865')","('52.49025', '13.24866')","('52.49035', '13.24843')","('52.4902', '13.24482')","('52.49013', '13.24275')","('52.49016', '13.23976')","('52.49128', '13.23732')","('52.49107', '13.23683')","('52.49115', '13.2367')","('52.49115', '13.23638')","('52.49077', '13.23589')","('52.49072', '13.23577')","('52.49071', '13.23568')","('52.49073', '13.23543')","('52.49082', '13.23523')","('52.49084', '13.23504')","('52.49084', '13.23503')","('52.49078', '13.23453')","('52.49075', '13.2344')","('52.49066', '13.2342')","('52.49064', '13.23402')","('52.49052', '13.23338')","('52.49046', '13.23327')","('52.49037', '13.23303')","('52.49005', '13.23247')","('52.49003', '13.23242')","('52.49006', '13.23209')","('52.49017', '13.23181')","('52.49017', '13.23161')","('52.49018', '13.2316')","('52.49017', '13.23131')","('52.49033', '13.23014')","('52.49042', '13.22984')","('52.49053', '13.22928')","('52.49049', '13.22906')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3675718,"('52.50803', '13.2586')","('52.50805', '13.25863')","('52.5081', '13.25852')","('52.50811', '13.2584')","('52.5081', '13.25826')","('52.5082', '13.25804')","('52.5081', '13.25784')","('52.50676', '13.25605')","('52.50583', '13.25486')","('52.50583', '13.25485')","('52.50503', '13.25377')","('52.50496', '13.25365')","('52.50479', '13.25257')","('52.50472', '13.25205')","('52.50472', '13.25181')","('52.50472', '13.25181')","('52.50472', '13.25153')","('52.50459', '13.25087')","('52.5044', '13.24946')","('52.50423', '13.24843')","('52.50409', '13.24788')","('52.50392', '13.24714')","('52.50318', '13.24458')","('52.50318', '13.24457')","('52.50293', '13.24363')","('52.5028', '13.24298')","('52.50275', '13.24247')","('52.50268', '13.24058')","('52.50264', '13.24')","('52.50257', '13.23943')","('52.50257', '13.2393')","('52.50252', '13.23936')","('52.50253', '13.23936')","('52.50258', '13.2393')","('52.50246', '13.23898')","('52.50242', '13.23877')","('52.5024', '13.23847')","('52.50233', '13.23813')","('52.50216', '13.23767')","('52.5017', '13.23651')","('52.50129', '13.23559')","('52.50097', '13.23501')","('52.50055', '13.23435')","('52.50048', '13.23446')","('52.50048', '13.23446')","('52.50038', '13.2346')","('52.50005', '13.23489')","('52.49985', '13.23496')","('52.49941', '13.23499')","('52.49859', '13.23467')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3677716,"('47.15567', '11.34932')","('47.15578', '11.34945')","('47.15556', '11.34991')","('47.15526', '11.34973')","('47.15468', '11.34931')","('47.15449', '11.3494')","('47.15429', '11.34941')","('47.15374', '11.3501')","('47.15329', '11.35058')","('47.15342', '11.35081')","('47.15345', '11.35096')","('47.15343', '11.35099')","('47.15343', '11.351')","('47.15324', '11.3516')","('47.15304', '11.35207')","('47.15347', '11.3523')","('47.15337', '11.35271')","('47.15327', '11.35305')","('47.15298', '11.35392')","('47.15356', '11.35418')","('47.1539', '11.35429')","('47.15363', '11.35512')","('47.15335', '11.35531')","('47.15331', '11.35538')","('47.15327', '11.35547')","('47.15315', '11.35602')","('47.15316', '11.35609')","('47.15338', '11.3563')","('47.15338', '11.35634')","('47.15338', '11.35634')","('47.15333', '11.3566')","('47.15365', '11.35685')","('47.15377', '11.35698')","('47.15365', '11.35727')","('47.1539', '11.35753')","('47.15403', '11.35755')","('47.15436', '11.35779')","('47.15432', '11.35799')","('47.15434', '11.35811')","('47.1544', '11.35827')","('47.15427', '11.35846')","('47.15425', '11.35856')","('47.15436', '11.35889')","('47.15437', '11.35902')","('47.15434', '11.35922')","('47.15434', '11.35923')","('47.1543', '11.35957')","('47.1543', '11.35994')","('47.15432', '11.36026')","('47.15437', '11.36046')",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#exploring the new shape
df_reshaped.shape # --> (1830, 29852) (smaller size sample)

#since the df now has 29852 columns, I want to verify, if the longest route really has 29852 waypoints or if something went wrong
df['num_of_waypoint'].max()

#finding out which route has that many waypoints, because I want to have a look into the original gps file
df.sort_values(by = 'num_of_waypoint', ascending = False) #--> it's 2825871.gpx (that hypercorrect documentation of a file should be excluded)

#exploring the distribution of the total number of waypoints per route a bit more
routes_grp = df.groupby(['route_id'])
routes_grp['num_of_waypoint'].max().median() #--> median of total waypoints per route is 252 (smaller size sample)
routes_grp['num_of_waypoint'].max().describe() #--> 75% is at 507 total waypoints: by including 1000 columns I will cover most of the routes and exclude outliers

#dropping rows with more than 1000 waypoints from df_reshaped
df_reshaped[1000].isna().value_counts() #verifing not too many routes would be deteled
df_reshaped = df_reshaped[df_reshaped[1000].isna()]

#dropping every column with only NaN values in it (= columns 1000 and higher)
df_reshaped.isnull().sum(axis=0).value_counts() #verifing that it's column 0-999 that stay
df_reshaped = df_reshaped.dropna(axis=1, how='all')
df_reshaped.shape

(1698, 1000)

In [8]:
df_reshaped
df_reshaped.to_csv('cl1_first_bulk_of_routes_data.csv')