In [2]:
import pandas as pd

data = pd.read_csv ("joint_data.csv")   
df = pd.DataFrame(data)

#print(df)
df.head(5)

,Unnamed: 0,route_id,route_linestring,num_of_waypoint,poi_lat_lgt,poi_category,poi_name,distance
0,0,113043.0,"LINESTRING (52.45147 13.69072, 52.45147 13.690...",133.0,POINT (52.4385208 13.6774745),['viewpoint'],Müggeleck,0.000138
1,1,113043.0,"LINESTRING (52.45147 13.69072, 52.45147 13.690...",282.0,POINT (52.444312 13.6279051),['bench'],NaN,0.000551
2,2,113043.0,"LINESTRING (52.45147 13.69072, 52.45147 13.690...",288.0,POINT (52.4444457 13.6271595),['bench'],NaN,0.000122
3,3,113043.0,"LINESTRING (52.45147 13.69072, 52.45147 13.690...",288.0,POINT (52.4444808 13.6269487),['bench'],NaN,0.000110
4,4,113043.0,"LINESTRING (52.45147 13.69072, 52.45147 13.690...",292.0,POINT (52.4453161 13.6273851),['bench'],NaN,0.000319

In [3]:
# import pyodbc

# conn = pyodbc.connect('Driver={SQL Server};'
#                       'Server=RON\SQLEXPRESS;'
#                       'Database=test_database;'
#                       'Trusted_Connection=yes;')
# cursor = conn.cursor()

In [4]:
# SELECT @@ SERVERNAME

In [7]:
#df.to_sql(routes.db, sqlite3.Connection)

NameError: name 'routes' is not defined

In [17]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df.to_sql('routes.db', con=engine)

In [13]:
routes_db = engine.execute("SELECT * FROM routes").fetchall()

TypeError: to_sql() missing 1 required positional argument: 'con'