## To check if the routes.db works
Routes.db was not working - it was saying that it is an empty DataFrame but I could see on the editor that it was actually not. Therefore, I executed some test codes here. I realized I mistakenly created two tables in the routes.db: 1) routes, 2) routes.db. Thus, it did not recognize the actual data because it was embedded. I fixed the part which caused the error in the create_sqlite_db, and now routes.db works fine.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('routes.db') 
c = conn.cursor()
                 
c.execute('''SELECT * FROM routes ORDER BY route_id''')

df = pd.DataFrame(c.fetchall())

print(df)

#Somehow it says it is an empty DataFrame but when I open the file with the Editor, I see it is not empty. I don't know what is wrong here.

           0          1                                                  2  \
0          0   113043.0  LINESTRING (52.45147 13.69072, 52.45147 13.690...
1          1   113043.0  LINESTRING (52.45147 13.69072, 52.45147 13.690...
2          2   113043.0  LINESTRING (52.45147 13.69072, 52.45147 13.690...
3          3   113043.0  LINESTRING (52.45147 13.69072, 52.45147 13.690...
4          4   113043.0  LINESTRING (52.45147 13.69072, 52.45147 13.690...
...      ...        ...                                                ...
91099  91099  3674009.0  LINESTRING (52.53883 13.21284, 52.53883 13.212...
91100  91100  3674009.0  LINESTRING (52.53883 13.21284, 52.53883 13.212...
91101  91101  3674009.0  LINESTRING (52.53883 13.21284, 52.53883 13.212...
91102  91102  3674128.0  LINESTRING (52.4888 13.26176, 52.48877 13.2618...
91103  91103  3675718.0  LINESTRING (52.50803 13.2586, 52.50805 13.2586...

           3                              4              5          6  \
0      133.0  POINT (52.4385208 13.6774745)  ['viewpoint']  MÃ¼ggeleck
1      282.0   POINT (52.444312 13.6279051)      ['bench']       None
2      288.0  POINT (52.4444457 13.6271595)      ['bench']       None
3      288.0  POINT (52.4444808 13.6269487)      ['bench']       None
4      292.0  POINT (52.4453161 13.6273851)      ['bench']       None
...      ...                            ...            ...        ...
91099  388.0  POINT (52.5895611 13.2834619)       ['tree']       None
91100  388.0  POINT (52.5890324 13.2843859)       ['tree']       None
91101  388.0  POINT (52.5889504 13.2844894)       ['tree']       None
91102  281.0    POINT (52.451652 13.191308)       ['tree']       None
91103  119.0   POINT (52.497104 13.2158511)       ['tree']       None

              7
0      0.000138
1      0.000551
2      0.000122
3      0.000110
4      0.000319
...         ...
91099  0.000263
91100  0.000801
91101  0.000932
91102  0.000239
91103  0.000017

[91104 rows x 8 columns]

## To find the header list

In [2]:
# loading in modules
import sqlite3

# creating file path
dbfile = 'routes.db'
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

# Be sure to close the connection
con.close()

[('routes',)]

## As in Pandas DataFrame

In [3]:
import pandas as pd
import sqlite3
import sqlalchemy 

try:
    conn = sqlite3.connect("routes.db")    
except Exception as e:
    print(e)

#Now in order to read in pandas dataframe we need to know table name
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(f"Table Name : {cursor.fetchall()}")

df = pd.read_sql_query('SELECT * FROM Table_Name', conn)
conn.close()

Table Name : [('routes',)]

DatabaseError: Execution failed on sql 'SELECT * FROM Table_Name': no such table: Table_Name